/* Styles for the container */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for the main section */


/* Styles for the login container */
.login-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container h1{
    color: #f3f3f3;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

/* Styles for the form */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Styles for the form group */
.form-group {
    margin-bottom: 15px;
}

/* Styles for the inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

/* Styles for the submit button */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles for the error message */
span {
    color: red;
}

.video-background{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
    overflow: hidden;
}

video {
    /*position: fixed;*/
    min-width: 100vw;
    min-height: 93.3vh;
    width: auto;
    height: auto;
    z-index: -100;
}